#!/bin/bash
sudo yum install -y ecs-init
sudo echo ECS_CLUSTER=${ecs_cluster.orbwatch_cluster.name} | sudo tee /etc/ecs/ecs.config
sudo systemctl start docker
sudo systemctl enable --now --no-block ecs.service