#!/bin/bash
sudo yum install -y ecs-init #with this command line, ecs agent will be installed, as well as docker
sudo echo ECS_CLUSTER="orbwatch-cluster" | sudo tee /etc/ecs/ecs.config
sudo systemctl start docker
sudo systemctl enable --now --no-block ecs.service